{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for massage in massages %}
        <div class="col">
            <div class="card">
                <div class="image-container">
                    <!-- Check if featured_image is set to 'placeholder' or a similar condition -->
                    {% if massage.featured_image and not 'placeholder' in massage.featured_image.url %}
                        <img class="card-img-top" src="{{ massage.featured_image.url }}" alt="{{ massage.name }}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'images/rocks.webp' %}" alt="Default Massage Service">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ massage.name }}</h5>
                    <p class="card-text">{{ massage.description|safe }}</p>
                    <a href="{% url 'massage_detail' massage.id %}" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
