{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card my-5">
        <div class="card-body">
          <h3 class="card-title text-center">{% trans "Sign Out" %}</h3>
          <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
          
          <form method="post" action="{% url 'account_logout' %}" class="text-center">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-warning">{% trans 'Sign Out' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
