body {
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

h5 {
    font-weight: 900; /* Adjust as needed */
}

.custom-card {
    max-width: 940px; /* Example max-width */
    margin: auto; /* Centers the card in the column */
}


.navbar {
  background-color: #f8f9fa; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
  font-weight: 700; 
  color: #202525 !important; 
}

.nav-link {
  margin-right: 0.5rem;
  color: #202525 !important; 
}

.nav-link:hover {
  color: #285e4c !important; 
}

.active {
    color: rgb(139, 0, 104) !important;
}

.weekend {
    color: red;
}










