.navbar {
  background-color: #f8f9fa; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
  font-weight: 700; 
  color: #202525 !important; 
}

.nav-link {
  margin-right: 0.5rem;
  color: #202525 !important; 
}

.nav-link:hover {
  color: #285e4c !important; 
}








